div.code-toolbar {
  position: relative;
}

div.code-toolbar > .toolbar {
  position: absolute;
  top: 0.3em;
  right: 0.2em;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

div.code-toolbar:hover > .toolbar {
  opacity: 1;
}

div.code-toolbar > .toolbar .toolbar-item {
  display: inline-block;
}

div.code-toolbar > .toolbar a {
  cursor: pointer;
}

div.code-toolbar > .toolbar button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none; /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}


div.code-toolbar > .toolbar > * {
  margin-right: 6px;
  font-size: 0.9em;
  padding: 4px;
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button {
  color: #fffcf2;
  background: #cb6e1f;
  border: 1px solid #cb6e1f;
  border-radius: 2px;
}

div.code-toolbar > .toolbar span {
  color: #464b53;
  font-weight: bold;
  font-family: 'Operator Mono', Consolas, Menlo, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  padding: 4px;
}

div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar a:focus,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar button:focus {
  background: inherit;
  color: #cb6e1f;
}
