<div class="copyright">
  <p>&copy; 2017-2018 Christopher Hiller. Some rights reserved.</p>
  <p>boneskull.com is licensed under a
    <a rel="license" href="//creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License
    </a>.
  </p>
</div>
<div class="social-media">
  <a href="https://twitter.com/b0neskull">
    <span class="icon-twitter"></span>
  </a>
  <a href="https://github.com/boneskull">
    <span class="icon-github"></span>
  </a>
  <a href="https://www.linkedin.com/in/boneskull/">
    <span class="icon-linkedin2"></span>
  </a>
</div>